[Unit]
Description=PostgreSQL database server

[Service]
User=postgres
Group=postgres
SyslogIdentifier=postgres
KillMode=process

ExecStart=/usr/lib/postgresql/11/bin/postgres -D /var/lib/postgresql/11/main -c config_file=/etc/postgresql/11/main/postgresql.conf

# Additional security-related features
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=oardocker.target
