[Unit]
Description=PostgreSQL database server

[Service]
User=postgres
Group=postgres

SyslogIdentifier=postgres
#PIDFile=/var/lib/postgresql/9.4/postmaster.pid

ExecStart=/usr/lib/postgresql/9.4/bin/postgres -D /var/lib/postgresql/9.4/main -c config_file=/etc/postgresql/9.4/main/postgresql.conf

KillMode=process

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres, so adjust it downward
OOMScoreAdjust=-200

# Additional security-related features
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=oardocker.target
