[Unit]
Description=Create some OAR resources
ConditionPathExists=!/var/lib/container/create_resources_done
Requires=oardocker-server.service
After=oardocker-server.service


[Service]
Type=oneshot
SyslogIdentifier=resources
ExecStart=/bin/bash /var/lib/container/init-scripts/create_resources.sh
ExecStartPost=/usr/bin/touch /var/lib/container/create_resources_done
RemainAfterExit=on

[Install]
WantedBy=oardocker.target
