[Unit]
Description=OAR PHP FPM Socket

[Socket]
ListenStream=/var/run/php5-fpm.sock
SocketUser=www-data
SocketGroup=www-data

[Install]
WantedBy=oardocker.target
