[Unit]
Description=Apache Web Server

[Service]
Type=simple
Environment="APACHE_ARGUMENTS=-D FOREGROUND"
ExecStart=/usr/sbin/apachectl start
ExecStop=/usr/bin/apachectl graceful-stop
ExecReload=/usr/bin/apachectl graceful
PrivateTmp=true
LimitNOFILE=infinity
KillMode=mixed

[Install]
WantedBy=oardocker.target
