.direnv
.vagrant
*.py[co]
*~
*.log
*#
**#
*.egg
*.egg-info
dist
build
src/
eggs
parts
sdist
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.vagrant
.oardocker
*.tar.gz
venv
lib
share
pyvenv.cfg
lib64
bin
.eggs
