[Unit]
Description=OpenBSD Secure Shell server
ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
SyslogIdentifier=sshd
EnvironmentFile=-/etc/default/ssh
ExecStartPre=-/bin/mkdir -p /var/run/sshd
ExecStartPre=-/bin/chmod 0755 /var/run/sshd
ExecStart=/usr/sbin/sshd -D $SSHD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=oardocker.target
