[Unit]
Description=System Logging Service
#Requires=syslog.socket

[Service]
Type=notify
ExecStart=/usr/sbin/rsyslogd -n
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=oardocker.target
