[Unit]
Description=Configure SSH keys
ConditionPathExists=!/var/lib/container/configure_ssh_keys_done
ConditionFileIsExecutable=/var/lib/container/init-scripts/configure_ssh_keys.sh
Requires=oardocker-sshd.service
After=oardocker-sshd.service


[Service]
Type=oneshot
ExecStart=/var/lib/container/init-scripts/configure_ssh_keys.sh
ExecStartPost=/usr/bin/touch /var/lib/container/configure_ssh_keys_done
RemainAfterExit=on

[Install]
WantedBy=oardocker.target
