#  This file is part of oar-docker project.

[Unit]
Description=Basic oardocker System
DefaultDependencies=no
AllowIsolate=yes
Wants=oardocker-link-dev-log.service systemd-journald.service rc-local.service
